.radio-category {
  .new-list {
    margin: 16px 0 0 0;
    display: flex;
    justify-content: space-between;

    .item {
      width: 150px;

      img {
        width: 150px;
        height: 150px;
      }

      .name {
        font-size: 14px;
        color: #333;
        margin: 10px 0 2px;
      }

      .dec {
        line-height: 18px;
        color: #999;
      }
    }
  }
}
